@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));

html {
	font-size: 18px; 
	scroll-behavior: smooth;
}

@media (max-width: 480px) {
	html {
		font-size: 16px;
	}
}

@media (prefers-reduced-motion: reduce) {
  html {
    scroll-behavior: auto;
  }
}

